body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:rgb(33, 32, 32);
    margin-left: 30%;
    margin-right: 30%;

}

h1, h2{
    font-size: 26px;
    color:black;

}

.alkukuva{
    margin-right: 40% ;
   width:360px;

}


.date, .kuvateksti{
    font-size: 15px;
    color:gray;
}

.author{
    font-size: 19px;
    color: black;
}

a{
    color:black;
    text-decoration: underline;
}

img{
    width:320px;
}

footer{

    li{display:inline;
    font-size: 18px;   
    background-color: rgb(179, 179, 179);
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    }
    ul a{
        text-decoration: none;
    }

}